# Application
NODE_ENV=development

# API
API_PORT=3000

# Database
DATABASE_URL=

# Authentication
AUTH_SECRET=

# Object Storage
STORAGE_ENDPOINT=
STORAGE_REGION=
STORAGE_BUCKET=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
